# Ignore node_modules
node_modules

# Ignore build outputs
.next
.dist

# Ignore tooling files
.github
.husky

# Ignore configuration files
*.config.*
*.config.*

# Ignore any log files
*.log

# Ignore any environment files
.env*
