/* LAYOUT */

.main {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.admin-block {
  flex: 0.5;
}
.players-block {
  flex: 0.5;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .block {
    width: 100%;
  }
}
