/* LAYOUT */

.main {
  display: flex;
  gap: 16px;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .main {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
