/* LAYOUT */

.main {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.roulette-block {
  flex: 0.7;
}
.players-block {
  flex: 0.3;
}

/* CARDS */

.winner,
.bank {
  font-size: 32px;
}

.players,
.admin,
.winner,
.bank {
  flex: 1;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .main {
    flex-direction: column;
  }
  .block {
    width: 100%;
  }
}
