/* GRID */

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(200px, auto));
  gap: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.roulette-block {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.admin-block {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.players-block {
  grid-column: 1 / 4;
}

/* CARDS */

.winner,
.bank {
  font-size: 32px;
}

.players,
.admin,
.winner,
.bank {
  flex: 1;
}

.roulette {
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.roulette :global(.ant-card-body) {
  padding: 0;
}

/* RESPONSIVE GRID */

@media (max-width: 1200px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(200px, auto));
  }
  .roulette-block {
    grid-column: 1 / 2;
  }
  .admin-block {
    grid-column: 2 / 3;
  }
  .players-block {
    grid-column: 1 / 3;
  }
}

@media (max-width: 992px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(200px, auto));
  }
  .roulette-block {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .admin-block {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .players-block {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
