/* LAYOUT */

.main {
  display: flex;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column:nth-child(1) {
  flex: 0.7;
}
.column:nth-child(2) {
  flex: 0.3;
}

/* CARDS */

.roulette {
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.roulette :global(.ant-card-body) {
  padding: 0;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .main {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .column {
    flex: 1 !important;
  }
}
